@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);
@import url(http://fonts.googleapis.com/css?family=Lora);

body {
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	text-align: center;
	font-weight: lighter;
	letter-spacing: .5px
}

h1 {
	font-family: "Helvetica Neue";
	font-size: 22px;
	text-align: center;
	font-weight: lighter;
}


img {
	display: block;
	margin-left: auto;
	margin-right: auto
}

#slogan {
	font-family: 'Quicksand', sans-serif;
	font-size: 21px;
	text-align: center;
}
 
ul {
	list-style-position: inside;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px
}

#enquiries{
	margin-top: 16cm;
}


